*{
    margin:0;
    padding:0 ;
    box-sizing: border-box;
}
#p{
    color: red;
    font-size: 15px;
    text-align: center;
}
.list{
    display: flex;
}
.second-div{
    background-color:black ;
    width: 100%;
    height: 50px;
}
.second-div h1{
    color: aliceblue;
    text-align: center;
}
.phone img{
border-radius: 50%;
}
.cart img{
    border-radius: 50%;
}
/* 3 nav */
.third-nav{
    background-color:rgb(222, 220, 220);
    height: 40px;
}
.third-nav img{
    border-radius: 50%;
 }
/*.login-form{
    margin-top:-90px!important;
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%,
    -50%); z-index: 1

}
form {
    padding: 20px;
    border-radius: 4px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} */
